In [26]:
# Dependencies
import pandas as pd
import os
import csv

In [2]:
# Store filepath in a variable
file = "budget_data.csv"

In [4]:
# Read our Data file with the pandas library
df = pd.read_csv(file, encoding="ISO-8859-1")

In [5]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [10]:
# number of date in file
date_counts = df["Date"].nunique()
date_counts

86

In [14]:
# total profit/loss for the data set
total_profit=df["Profit/Losses"].sum()
total_profit

38382578

In [42]:
df['Date'].min()

'Apr-2010'

In [41]:
# variable to store data
count = 0
variance = []

# create for loop to calculate average change
for month in df:
    if df['Date'] = df['Date'].min(): 
    variance = 0
    else: 
    variance = df['Profit/Losses'[count]] - df['Profit/Losses'[count+1]]
    count = count + 1

SyntaxError: invalid syntax (<ipython-input-41-ccaf96daa534>, line 7)

In [37]:
# Summary
print("Financial Analysis")
print("------------------")
print("Total Months: ", date_counts)
print("Total: $", total_profit)
print ("Average  Change:" )
print ("Greatest Increase in Profits:")
print ("Greatest Decrease in Profits:")

Financial Analysis
------------------
Total Months:  86
Total: $ 38382578
Average  Change:
Greatest Increase in Profits:
Greatest Decrease in Profits: